body {
    /* Alignment */
    margin: 0;

    /* Display */
    background-color: #1c1c1c;
}

h1 {
    /* Alignment */
    margin:0px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;

    /* Display */
    color: #e6cfff;
    font-family: "Gill Sans", Verdana, sans-serif;

}

h3 {
    /* Alignment */
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding-right:5px;

    /* Display */
    color: #e6cfff;
    font-family: "Gill Sans", Verdana, sans-serif;
}

.heading {
    /* Alignment */
    margin: auto;
    text-align: center;
    position: relative;
    top: 20px;
    max-width: 450px;
    padding-top: 20px;

    /* Border */
    border-color: #e6cfff;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

#gradient-background {
    /* Alignment */
    height: 1500px;
    width: 100%;

    /* Display */
    background-image: linear-gradient(175deg, rgba(28, 28, 28, 1), rgba(95, 6, 117, .9), rgba(81, 47, 245, .8));
  }

.social-img {
    height: 32px;
    width: auto;
    display: inline-block;
    vertical-align:-40%;
}